/.idea
/deploy_*
/cas_alarm/target
/cas_logger/target
/cas_change_context/target
/cas_model/target
/cas_scheduler_realtime/target
/cas_scheduler_timepoint/target
/cas_shared/target

*.class
*.jar
*.war
*.log
*.zip
cas_alarm/src/test/
cas_change_context/src/main/resources/
cas_change_context/src/test/
cas_logger/src/main/resources/
cas_logger/src/test/
cas_logger/target/classes/
cas_logger/target/generated-sources/
cas_model/src/test/
cas_scheduler_realtime/src/test/
cas_scheduler_timepoint/src/test/
cas_shared/src/test/
